@font-face {
  font-family: Juliussansone;
  src: url('../fonts/JuliusSansOne-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.columns {
  box-sizing: border-box;
  float: none;
  clear: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  direction: ltr;
  text-align: center;
  letter-spacing: normal;
  text-indent: 0;
  text-transform: capitalize;
  text-overflow: clip;
  column-count: 3;
  column-rule-style: none;
  column-rule-width: 100%;
  word-break: normal;
  object-fit: fill;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  width: auto;
  max-width: 2260px;
  margin: 0 auto 10px;
  padding-top: 25px;
  padding-left: 0;
  font-size: 16px;
  text-decoration: none;
  display: block;
  position: relative;
  inset: 0%;
  overflow: visible;
}

.thumb {
  width: 100%;
  margin: 7px 0;
  display: block;
}

.image {
  background-color: #dadada00;
  width: 100%;
  max-width: none;
  transition: opacity .2s;
}

.navbar {
  position: fixed;
  inset: 0% auto 0% 0%;
}

.column {
  height: 100%;
  position: relative;
}

.navbar-2 {
  z-index: auto;
  float: left;
  width: 200px;
  height: 100vw;
  font-family: Montserrat, sans-serif;
  position: fixed;
  inset: 0 0% 0%;
}

.div-block {
  flex-direction: column;
  display: flex;
}

.nav-menu {
  flex-direction: column;
  margin-top: 15px;
  display: flex;
}

.brand {
  margin-top: 14px;
  margin-left: 14px;
}

.nav-menu-item {
  margin-left: 15.325px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar-3 {
  flex-direction: column;
  align-items: stretch;
  display: flex;
  position: sticky;
  top: 0;
}

.navbar-4 {
  object-fit: fill;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  width: 20%;
  height: 180px;
  display: flex;
  position: sticky;
  top: 1px;
  overflow: hidden;
}

.container {
  width: auto;
  height: 0;
}

.section {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100px;
  display: block;
}

.div-block-2 {
  width: 30vw;
  height: auto;
  position: sticky;
  top: 0;
}

.text-block {
  padding-top: 85px;
  position: sticky;
  top: 0;
}

.div-block-3 {
  z-index: auto;
  float: left;
  clear: none;
  object-fit: fill;
  background-color: #8a2b2b00;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 250px;
  min-width: 0;
  height: 0;
  margin-left: 0;
  display: block;
  position: sticky;
  top: 0;
  overflow: visible;
}

.link {
  margin-top: 72px;
  margin-left: 25px;
  display: block;
}

.button {
  padding-top: 0;
}

.nav-menu-2 {
  text-align: left;
  border: 1px #000;
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  display: block;
}

.brand-2 {
  clear: none;
  flex-direction: column;
  align-items: stretch;
  width: auto;
  margin-top: 30px;
  margin-left: 17px;
  font-size: 18px;
  display: block;
  position: relative;
}

.brand-2.w--current {
  margin-top: 35px;
  margin-left: 0;
}

.container-2 {
  flex-direction: column;
  display: flex;
}

.nav-link {
  text-align: left;
  object-fit: fill;
  flex-direction: row;
  flex: 0 auto;
  order: 0;
  align-self: auto;
  align-items: flex-start;
  width: 77.35px;
  margin-left: 66.2438px;
  display: flex;
  overflow: visible;
}

.text-block-2 {
  color: #000;
  align-self: flex-start;
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
  font-family: Juliussansone, Arial, sans-serif;
  font-size: 22px;
}

.nav-link-1 {
  float: none;
  clear: none;
  text-align: left;
  object-fit: fill;
  flex-flow: row;
  flex: 0 auto;
  order: 0;
  justify-content: flex-start;
  align-self: auto;
  align-items: stretch;
  margin-left: 0;
  padding: 5px 5px 5px 10px;
  font-style: normal;
  display: block;
  position: relative;
  overflow: visible;
}

.nav-link-3, .nav-link-4 {
  margin-left: 0;
  padding: 5px 5px 5px 10px;
  display: block;
}

.navbar-5 {
  background-color: #ddd0;
  margin-top: 0;
  margin-left: 20px;
  padding-top: 23px;
  font-family: Work Sans;
  font-weight: 300;
  display: block;
  position: fixed;
  top: 0;
}

.masonry-item {
  float: left;
  direction: ltr;
  text-align: left;
  background-color: #e3e3e3;
  width: auto;
  max-width: none;
  margin: 0 auto 7px;
  display: inline-block;
  position: sticky;
  overflow: visible;
}

.body {
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  font-family: Juliussansone, Arial, sans-serif;
  display: flex;
}

.image-2 {
  width: 100%;
  min-width: 100%;
  max-width: none;
}

.container-3 {
  display: block;
  position: relative;
  top: 0;
  left: 89px;
  right: 0;
}

.div-block-4 {
  position: absolute;
  left: 248px;
}

.column-2, .columns-2 {
  display: flex;
}

.columns-3 {
  display: flex;
  position: absolute;
}

.columns-4 {
  display: block;
}

.container-4 {
  max-width: 200px;
  height: auto;
  padding-right: 0;
  position: fixed;
}

.container-5 {
  clear: left;
  direction: ltr;
  object-fit: fill;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 0;
  display: block;
  position: relative;
  left: 0;
}

.section-2 {
  width: 200px;
  height: 100%;
  overflow: scroll;
}

.masonry-img {
  width: 100%;
  max-width: none;
  display: block;
}

.navbar-6 {
  background-color: #fff0;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: flex-start start;
  width: 250px;
  margin-top: 0;
  padding-left: 40px;
  font-family: Julius Sans One;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.nav-menu-3 {
  flex-flow: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 0;
  padding-left: 10px;
  font-family: Juliussansone, Arial, sans-serif;
  font-size: 14px;
  display: flex;
}

.container-6 {
  flex-flow: column wrap;
  align-items: flex-start;
  margin-top: 14px;
  margin-left: 28px;
  margin-right: 10px;
  padding-top: 24px;
  display: flex;
}

.image-3 {
  height: 200px;
}

.div-block-5, .container-7 {
  height: 130px;
}

.div-block-6 {
  background-color: #5f94ff;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.div-block-7 {
  background-color: #f3d7d7;
}

.div-block-8 {
  background-color: #519684;
  width: 100px;
  height: 100px;
}

.div-block-9 {
  background-color: #ce8c8c;
}

.div-block-10 {
  background-color: #ac7f7f;
}

.div-block-11 {
  background-color: #a2b451;
}

.div-block-12 {
  flex-flow: row;
  justify-content: space-around;
  align-items: stretch;
  height: auto;
  display: block;
}

.image-4 {
  float: right;
  max-width: none;
  max-height: 100%;
  display: block;
  position: relative;
}

.child-row {
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-height: 100%;
  display: block;
}

.image-5 {
  float: left;
  width: 100%;
  max-width: none;
}

.lil-success {
  column-count: 3;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  display: block;
}

.image-6 {
  float: left;
}

.dltimgfit {
  display: block;
}

.grid {
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-2 {
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.image-7 {
  width: 100%;
  height: 100%;
}

.grid-3 {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.dltgridimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 800px;
  margin-top: 16px;
}

.dltimgggg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-5 {
  grid-column-gap: 0px;
  grid-template-rows: .25fr;
  grid-template-columns: 29.3fr 19.5fr 51.2fr;
}

.dltimg675 {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.grid-6 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 500px;
}

.image-8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navlink {
  text-align: left;
  -webkit-text-stroke-color: #686868;
  flex: 0 auto;
  order: 0;
  align-self: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 7px 20px 7px 0;
  font-family: Juliussansone, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.navlink.w--current {
  color: #bbb;
  font-family: Juliussansone, Arial, sans-serif;
  font-size: 16px;
  text-decoration-color: #949494;
}

.navlink.indented {
  margin-left: 20px;
  font-family: Juliussansone, Arial, sans-serif;
  font-size: 14px;
}

.navlink.indented.w--current {
  margin-left: 15px;
}

.image-10 {
  width: 100%;
  max-width: none;
  display: block;
}

.lightbox-link {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  display: block;
}

.lightbox-vt {
  margin-bottom: 7px;
  display: block;
}

.navbar-7 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  display: flex;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.div-block-14 {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: auto;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  position: absolute;
  left: 200px;
}

.flex-block {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  width: 25%;
  display: block;
}

.flexlightb2 {
  width: 100%;
  display: block;
}

.flex-image {
  width: 100%;
  max-width: none;
}

.gallery-wrapper {
  background-color: #fff;
  flex: none;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.carousel {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.image-wrapper {
  opacity: 1;
  margin-right: 5px;
  padding: 1vh 5px;
  transition: opacity .2s;
  display: flex;
}

.image-wrapper.slick-center {
  opacity: 1;
}

.image-11 {
  opacity: 1;
  object-fit: contain;
  max-height: 76vh;
}

.grid-7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  text-align: center;
  flex: 1;
}

.subscribe-form-flex {
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  margin-bottom: 0;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.footer {
  text-align: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-flex-container {
  text-align: left;
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
}

.footer-logo-link {
  flex: 0 auto;
  min-width: 60px;
  max-height: 60px;
}

.footer-image {
  object-fit: contain;
  object-position: 0% 50%;
  width: 100%;
  height: 100%;
}

.footer-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  color: #444;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  text-decoration: underline;
}

.cards-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cards-grid-container {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.cards-image-mask {
  border-radius: 0%;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.cards-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.hero-overlay {
  color: #fff;
  background-image: linear-gradient(#0009, #0009), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0, 50%;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.sticky-nav {
  z-index: 1;
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 0;
}

.nav-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content max-content max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

.nav-logo-link {
  height: 60px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: block;
}

.nav-logo {
  object-fit: contain;
  object-position: 0% 50%;
  width: auto;
  height: 100%;
}

.nav-link-5 {
  color: #444;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
  text-decoration: none;
  display: block;
}

.nav-link-5:hover {
  text-decoration: underline;
}

.div-block-15, .div-block-15-copy {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 35px;
  display: flex;
}

.gallery {
  text-align: center;
  width: 100%;
  margin-left: 340px;
  margin-right: 50px;
}

.pageseparator {
  width: 100%;
}

.text-block-4 {
  text-align: center;
  -webkit-text-stroke-color: #000;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.brand-5.w--current {
  font-family: Julius Sans One;
  font-size: 14px;
}

.div-block-16 {
  border-left: 1px solid #cecece;
  border-radius: 0;
  margin-left: 5px;
}

.spacer-16 {
  height: 16px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .columns {
    column-count: 1;
    width: auto;
    min-width: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: block;
  }

  .menu-button {
    display: block;
    overflow: visible;
  }

  .div-block-3 {
    width: 30%;
    min-width: 0;
  }

  .brand-2 {
    width: auto;
  }

  .text-block-2 {
    margin-top: 40px;
    margin-left: 0;
    padding-left: 0;
  }

  .nav-link-1, .nav-link-3, .nav-link-4 {
    margin-left: 0;
    padding-left: 10px;
    padding-right: 5px;
  }

  .container-6 {
    margin-right: 10px;
  }

  .div-block-10, .div-block-11 {
    height: 100px;
  }

  .div-block-12 {
    clear: none;
    object-fit: scale-down;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .image-4 {
    float: left;
    clear: none;
    direction: ltr;
    text-align: left;
    object-fit: scale-down;
    object-position: 50% 50%;
    flex: 0 auto;
    order: 0;
    max-width: none;
    height: auto;
    max-height: 200px;
    display: block;
    overflow: visible;
  }

  .div-block-13, .child-row {
    max-height: 100%;
  }

  .image-5 {
    float: right;
    width: auto;
    max-height: 200px;
    display: block;
  }

  .dltgridimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .slide {
    background-image: url('../images/145947599editedforstore1x1_1.webp');
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: scroll;
    transition: opacity .2s;
  }

  .slide-2 {
    background-image: url('../images/011805284_011805455_liquify_1.webp');
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: contain;
  }

  .slide-3 {
    background-image: url('../images/15799190692copy.webp');
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: auto;
  }

  .div-block-14 {
    flex-flow: wrap;
    place-content: space-around space-between;
    align-items: baseline;
    width: auto;
    margin-left: 200px;
    display: flex;
    left: 0;
  }

  .flex-block {
    flex-direction: column;
    flex: 0 auto;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    display: flex;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .gallery {
    margin-left: 280px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .columns {
    column-count: 1;
    width: auto;
    min-width: 0;
    max-width: none;
  }

  .thumb, .image {
    padding-right: 0;
  }

  .div-block-3 {
    width: 180px;
    min-width: auto;
    max-width: none;
  }

  .brand-2 {
    padding-left: 0;
    display: flex;
  }

  .text-block-2 {
    margin-left: 3px;
    font-size: 20px;
  }

  .nav-link-3 {
    float: none;
    clear: none;
    object-fit: fill;
    overflow: visible;
  }

  .navbar-5 {
    margin-left: 10px;
  }

  .navbar-6, .nav-menu-3 {
    padding-left: 20px;
  }

  .grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-14 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: auto;
  }

  .flex-block, .flexlightb2 {
    width: 100%;
  }

  .image-11 {
    max-height: 40vh;
  }

  .subscribe-form, .contact-form, .footer {
    padding: 40px 20px;
  }

  .footer-image {
    object-fit: contain;
  }

  .cards-section {
    padding: 40px 20px;
  }

  .cards-grid-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    align-self: stretch;
    max-width: none;
  }

  .hero-overlay {
    padding: 40px 20px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .div-block-15, .div-block-15-copy {
    padding-left: 15px;
    padding-right: 15px;
  }

  .gallery {
    margin-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .columns {
    column-count: 1;
    align-items: stretch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .image {
    width: 100%;
  }

  .navbar-2 {
    width: 100%;
    display: inline-block;
    inset: 0% 0% auto;
  }

  .div-block-3 {
    z-index: 1;
    float: none;
    width: auto;
    height: 50px;
  }

  .nav-menu-2 {
    margin-top: 0;
  }

  .brand-2 {
    flex-flow: column;
    flex: 0 auto;
    align-self: flex-start;
    align-items: stretch;
    width: auto;
    height: 100%;
    margin-top: 6px;
    margin-left: 18px;
    padding-left: 0;
    display: block;
  }

  .container-2 {
    object-fit: fill;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    height: auto;
    max-height: none;
    display: block;
  }

  .menu-button-2 {
    float: right;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    min-height: 0;
    padding: 0;
    display: block;
  }

  .text-block-2 {
    clear: none;
    flex-flow: row;
    flex: 0 auto;
    order: 1;
    justify-content: flex-start;
    align-self: auto;
    align-items: center;
    width: 180px;
    margin: auto;
    padding-top: 0;
    padding-left: 0%;
    font-size: 22px;
    display: block;
    position: relative;
    overflow: visible;
  }

  .icon {
    flex: 0 auto;
    justify-content: flex-end;
    align-self: auto;
    align-items: center;
    width: auto;
    height: auto;
    margin: 5% 14% 3% auto;
    text-decoration: none;
    display: flex;
  }

  .navbar-5 {
    background-color: #fff;
    height: auto;
  }

  .masonry-item {
    margin-bottom: 25px;
  }

  .navbar-6 {
    background-color: #fff;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    inset: 0% 0% auto;
  }

  .nav-menu-3 {
    z-index: auto;
    color: #000;
    background-color: #fff;
    flex-flow: row;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
    height: auto;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 31px;
    padding-left: 40px;
  }

  .container-6 {
    background-color: #fff;
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    display: block;
    position: fixed;
  }

  .brand-3 {
    justify-content: flex-start;
    height: 50px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }

  .menu-button-3 {
    box-sizing: border-box;
    clear: none;
    text-align: center;
    flex-flow: row;
    flex: 0 auto;
    order: 1;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 60px;
    height: 100%;
    padding: 0;
    display: flex;
    position: absolute;
    inset: 0% 0% 0% auto;
  }

  .menu-button-3.w--open {
    color: #000;
    background-color: #dbd9d900;
  }

  .icon-2 {
    text-align: center;
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    position: absolute;
    inset: 0 0% auto auto;
  }

  .text-block-3 {
    align-self: center;
    display: block;
  }

  .grid-4 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    height: 2000px;
  }

  .dltimgggg {
    object-fit: cover;
  }

  .grid-6 {
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    width: auto;
    max-width: 100%;
    height: auto;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 4px;
    position: static;
  }

  .image-8 {
    object-fit: cover;
    height: auto;
  }

  .image-9 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .navlink {
    color: #000;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .navlink.indented {
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .lightbox-vt {
    margin-bottom: 7px;
  }

  .navbar-7 {
    width: 100%;
    inset: 0% 0% auto;
  }

  .div-block-14 {
    width: 100%;
    margin-top: 37px;
    margin-left: 0;
  }

  .flex-block {
    width: 100%;
  }

  .flexlightb2 {
    flex-wrap: wrap;
    display: flex;
  }

  .image-11 {
    max-height: 65vw;
  }

  .centered-container {
    text-align: left;
  }

  .subscribe-form-input-wrapper {
    flex: 1;
    align-self: stretch;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .footer {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .cards-grid-container {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sticky-nav {
    padding: 0;
  }

  .nav-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link-5 {
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .image-12 {
    vertical-align: middle;
    order: 1;
    align-self: center;
    width: 30px;
    height: 100%;
  }

  .div-block-15-copy {
    padding-left: 0;
    padding-right: 0;
  }

  .gallery {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .brand-5 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .brand-5.w--current {
    margin-bottom: auto;
  }
}

#w-node-_0c097850-e6e2-6892-8366-fe432f675748-b1e4a9ef {
  grid-area: 7 / 5 / 14 / 9;
}

#w-node-b12becc2-4eaf-ecd3-9972-8d9cd3f94f9d-b1e4a9ef {
  grid-area: 1 / 12 / 7 / 16;
}

#w-node-_47a9bc4b-75a6-4c4e-f80b-85665d26c954-b1e4a9ef {
  grid-area: 7 / 9 / 14 / 13;
  place-self: auto;
}

#w-node-a68ef05f-eefd-f924-a5b3-607ede52ce3c-b1e4a9ef {
  grid-area: 1 / 1 / 7 / 4;
  place-self: auto;
}

#w-node-_5c400b09-fde1-0462-d689-6a7f6eac668e-b1e4a9ef {
  grid-area: 7 / 13 / 14 / 16;
}

#w-node-_044a8230-e056-3a9d-849f-e94f456abcc8-b1e4a9ef {
  grid-area: 1 / 8 / 7 / 12;
}

#w-node-_155a1f45-cbfc-85b6-9616-9d51f17f8909-b1e4a9ef {
  grid-area: 1 / 4 / 7 / 8;
}

#w-node-b10c8867-10d5-a943-af3a-d2dd93997185-b1e4a9ef {
  grid-area: 1 / 1 / 8 / 5;
  place-self: auto;
}

#w-node-_0dede34e-1ed3-1357-da52-d5c1981dbac3-9686bb4e {
  grid-area: span 2 / span 3 / span 2 / span 3;
}

#w-node-_8c991814-b61d-63ac-6d22-8b9655908ac8-9686bb4e {
  grid-area: 4 / 3 / 6 / 7;
}

#w-node-_93c18af1-7f96-a0e9-109a-3477a29c1774-9686bb4e {
  grid-area: 2 / 7 / 6 / 10;
}

#w-node-_81d0bc5d-3464-1ad5-19f9-f4598488881f-9686bb4e {
  grid-area: 3 / 1 / 6 / 3;
}

@media screen and (max-width: 991px) {
  #w-node-_0c097850-e6e2-6892-8366-fe432f675748-b1e4a9ef {
    grid-area: 6 / 5 / 11 / 11;
  }

  #w-node-b12becc2-4eaf-ecd3-9972-8d9cd3f94f9d-b1e4a9ef {
    grid-area: 1 / 11 / 6 / 16;
  }

  #w-node-_47a9bc4b-75a6-4c4e-f80b-85665d26c954-b1e4a9ef {
    grid-area: 11 / 6 / 18 / 11;
    place-self: auto;
  }

  #w-node-a68ef05f-eefd-f924-a5b3-607ede52ce3c-b1e4a9ef {
    grid-area: 1 / 1 / 6 / 5;
    place-self: auto;
  }

  #w-node-_5c400b09-fde1-0462-d689-6a7f6eac668e-b1e4a9ef {
    grid-area: 6 / 11 / 18 / 16;
  }

  #w-node-_044a8230-e056-3a9d-849f-e94f456abcc8-b1e4a9ef {
    grid-area: 6 / 1 / 11 / 5;
  }

  #w-node-_155a1f45-cbfc-85b6-9616-9d51f17f8909-b1e4a9ef {
    grid-area: 1 / 5 / 6 / 11;
  }

  #w-node-b10c8867-10d5-a943-af3a-d2dd93997185-b1e4a9ef {
    grid-area: 1 / 1 / 8 / 6;
    place-self: auto;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_0c097850-e6e2-6892-8366-fe432f675748-b1e4a9ef {
    grid-area: 5 / 8 / 10 / 16;
  }

  #w-node-b12becc2-4eaf-ecd3-9972-8d9cd3f94f9d-b1e4a9ef {
    grid-area: 1 / 10 / 5 / 16;
  }

  #w-node-_47a9bc4b-75a6-4c4e-f80b-85665d26c954-b1e4a9ef {
    grid-area: 10 / 11 / 14 / 16;
    place-self: auto;
  }

  #w-node-a68ef05f-eefd-f924-a5b3-607ede52ce3c-b1e4a9ef {
    grid-area: 1 / 1 / 5 / 5;
    place-self: auto;
  }

  #w-node-_5c400b09-fde1-0462-d689-6a7f6eac668e-b1e4a9ef {
    grid-area: 10 / 6 / 14 / 11;
  }

  #w-node-_044a8230-e056-3a9d-849f-e94f456abcc8-b1e4a9ef {
    grid-area: 5 / 1 / 10 / 8;
  }

  #w-node-_155a1f45-cbfc-85b6-9616-9d51f17f8909-b1e4a9ef {
    grid-area: 1 / 5 / 5 / 10;
  }

  #w-node-b10c8867-10d5-a943-af3a-d2dd93997185-b1e4a9ef {
    grid-area: 1 / 1 / 5 / 6;
    place-self: auto;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_0c097850-e6e2-6892-8366-fe432f675748-b1e4a9ef {
    grid-area: 21 / 1 / 28 / 3;
  }

  #w-node-b12becc2-4eaf-ecd3-9972-8d9cd3f94f9d-b1e4a9ef {
    grid-area: 48 / 1 / 54 / 3;
  }

  #w-node-_47a9bc4b-75a6-4c4e-f80b-85665d26c954-b1e4a9ef {
    grid-area: 11 / 1 / 21 / 3;
    place-self: auto;
  }

  #w-node-a68ef05f-eefd-f924-a5b3-607ede52ce3c-b1e4a9ef {
    grid-area: 1 / 1 / 11 / 3;
    place-self: auto;
  }

  #w-node-_5c400b09-fde1-0462-d689-6a7f6eac668e-b1e4a9ef {
    grid-area: 64 / 1 / 74 / 3;
  }

  #w-node-_044a8230-e056-3a9d-849f-e94f456abcc8-b1e4a9ef {
    grid-area: 55 / 1 / 64 / 3;
  }

  #w-node-_155a1f45-cbfc-85b6-9616-9d51f17f8909-b1e4a9ef {
    grid-area: 41 / 1 / 47 / 3;
  }

  #w-node-b10c8867-10d5-a943-af3a-d2dd93997185-b1e4a9ef {
    grid-area: 31 / 1 / 39 / 3;
    place-self: auto;
  }

  #w-node-_0dede34e-1ed3-1357-da52-d5c1981dbac3-9686bb4e, #w-node-_8c991814-b61d-63ac-6d22-8b9655908ac8-9686bb4e, #w-node-_93c18af1-7f96-a0e9-109a-3477a29c1774-9686bb4e, #w-node-_81d0bc5d-3464-1ad5-19f9-f4598488881f-9686bb4e {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


@font-face {
  font-family: 'Juliussansone';
  src: url('../fonts/JuliusSansOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}